<% if session[:user].instance_of? Applicant %>

  <% if position.is_applied_to_by_applicant?(session[:user]) %>
    <li>You have applied for this position</li>
  <% else %>
    <li><a href="/applications/new?position_id=<%= position.id %>&applicant_id=<%= session[:user].id %>">Apply for Position</a></li>
  <% end %>

<% end %>

<% if position.was_created_by_recruiter?(session[:user]) %>
  <li>You listed this position.</li>
  <li>
    <a href="/applications?position_id=<%= position.id %>">View applications</a>
  </li>
  <li>
    <a href="/positions/<%= position.id %>/edit">Edit</a>
  </li>
  <li>
    <%= erb :"positions/_delete", layout: false, locals: { position: position } %>
  </li>
<% end %>
