<style>
  div { padding: 5px; }
</style>

<h1><%= @position.title %></h1>

<div id="position_list">
  <h3>Company: <%= @position.company.name %></h3>
  <p>Description: <em><%= @position.description %></em></p>
</div>

<br>

<% if @is_applicant %>

  <div id="applicant_position">

    <% if @applicant_has_applied %>
      <p>You have applied for this position</p>
    <% else %>
      <%= erb :"applications/_new", layout: false, locals: { position: @position, applicant: Applicant.find(@applicant_id) } %>
    <% end %>

  </div>
<% end %>

<% if @authorized_recruiter %>

  <div id="recruiter_position">
    <p>
      You listed this position. <a href="/positions/<%= @position.id %>/edit">Edit</a>
      <%= erb :"positions/_delete", layout: false, locals: { position: @position } %>
    </p>
  </div>

  <h2>Pending Applications</h2>

  <% unless @position.applications.empty? %>

    <% @position.applications.each do |application| %>
      <div class="position_apps">

        <div>
          Applicant ID: <%= application.resume.id %>
        </div>

        <div>
          <a href="/resumes/download/<%= application.resume.file_name %>">Download Resume</a>
        </div>

        <% if Interview.find_by(application: application).nil? %>

          <%= erb :"interviews/_new_entry_form", layout: false, locals: { application: application } %>

        <% else %>

          <div>
            <a href="/interviews/<%= application.interview.id %>">Selected for interview</a>
          </div>

        <% end %>
      </div>
    <% end %>

  <% else %>

    <div>There are no applications for this position.</div>

  <% end %>

<% end %>
