<div class="interview_info">
  <div>
    Scheduled Time: <a href="/interviews/<%= interview.id %>/edit">Reschedule</a>
  </div>

  <div>
  <%= date_and_time(interview.meeting_time) %>
  </div>

  <br>

  <div>
    <% unless interview.meeting_time.is_a? Time %>
      No meeting time scheduled yet. <a href="/interviews/<%= interview.id %>/edit">Schedule a time</a>
    <% end %>
  </div>

  <div>
    Applicant Name: <a href="/applicants/<%= interview.applicant.id %>"><%= interview.applicant.full_name %></a>
  </div>

  <div>
    Recruiter Name: <a href="/recruiters/<%= interview.recruiter.id %>"><%= interview.recruiter.full_name %></a>
  </div>
</div>
