<style>
  div { padding: 5px; }
</style>

<h1><%= @applicant.full_name %></h1>

<div id="show_application">
  <h3>Application For <a href="/positions/<%= @application.position.id %>">
      <%= @application.position.title %></a> At <%= @application.position.company.name %>
  </h3>

  <div>
    Description: <em><%= @application.position.description %></em>
  </div>

  <br>
  <br>

  <div>
    Resume: <a href="/resumes/download/<%= @application.resume.file_name %>"><%= @application.resume.file_name %></a>
  </div>

  <div>
    <%= erb :"applications/_delete", layout: false, locals: { application: @application } %>
  </div>
</div>

<div>
  <h2>Interview</h2>
</div>

<% if @application.scheduled_for_interview? %>

  <%= erb :"interviews/_interview_info", layout: false, locals: { interview: @application.interview } %>

  <% else %>
    <div>Pending recruiter's response.</div>
<% end %>

