<style>
  div { padding: 5px; }
</style>

<h1><%= @applicant.full_name %></h1>

<div class="profile">

  <div>
    Applicant ID: <%= @applicant.id %>
  </div>

  <div>
    Name: <%= @applicant.full_name %>
  </div>

  <div>
    Email: <%= @applicant.email %>
  </div>

  <div>
    <%= erb :"applicants/_delete", layout: false, locals: { applicant: @applicant } if @authorized_applicant %>
  </div>

</div>

<% if @authorized_applicant %>

  <div>
    <a href="/positions">View Positions for Hire</a>
  </div>

  <h2>Submitted <a href="/applications">Applications</a></h2>

  <% @applications.each do |application| %>

    <div>
      <a href="/applications/<%= application.id %>"><%= application.title %> <b>@</b> <%= application.name %></a>
    </div>

    <br>

  <% end %>

  <div>
    <%= @no_positions_applied %>
  </div>

  <h2>My <a href="/resumes">Resumes</a></h2>

  <div class="links">
    <a href="/resumes/new">Upload a Resume</a>
  </div>

  <br>

  <% @applicant.resumes.each do |resume| %>

    <%= erb :"resumes/_basic_info", layout: false, locals: { resume: resume } %>

  <% end %>

<% end %>
