<style>
  div { padding: 5px; }
</style>

<h1><%= "#{@applicant.first_name} #{@applicant.last_name}" %></h1>

<div class="profile">
  <div>
    Applicant ID: <%= @applicant.id %>
  </div>
  <div>
    Name: <%= "#{@applicant.first_name} #{@applicant.last_name}" %>
  </div>
  <div>
    Email: <%= @applicant.email %>
  </div>
  <div>
    <%= erb :"applicants/_delete", layout: false, locals: { applicant: @applicant } if @authorized_applicant %>
  </div>
</div>

<% if @authorized_applicant %>

  <div>
    <a href="/positions">View Positions for Hire</a>
  </div>

  <h2>Submitted <a href="/applications">Applications</a></h2>

  <% unless @applications.empty? %>

    <% @applications.each do |application| %>
      <div>
        <a href="/applications/<%= application.id %>">
          <%= erb :"positions/_position_info", layout: false, locals: { position: application.position } %>
        </a>
      </div>
      <div>
        <% if application.scheduled_for_interview? %>
          Congrats! This application has been selected for interview.
        <% end %>
      </div>
    <% end %>

  <% else %>

    <p>You haven't applied to any positions.</p>

  <% end %>

  <h2>My Resumes</h2>

  <div class="links">
    <a href="/resumes/new">Upload a Resume</a>
  </div>

  <% unless @resumes.empty? %>

    <br>

    <% @applicant.resumes.each do |resume| %>
      <div class="resume_info">
        <div>Resume ID: <%= resume.id %></div>
        <div>Uploaded on: <%= resume.created_at.to_date %></div>
        <div>
          File: <a href="/resumes/download/<%= resume.file_name %>"><%= resume.file_name %></a>
        </div>
        <%= erb :"resumes/_delete", layout: false, locals: { resume: resume } %>
        <br>
      </div>
    <% end %>

  <% else %>

    <p>You don't have any resumes.</p>

  <% end %>
<% end %>
