<h1><%= @applicant.full_name %></h1>

<div class="profile">
  <div>
    Applicant ID: <%= @applicant.id %>
  </div>

  <div>
    Name: <%= @applicant.full_name %>
  </div>

  <div>
    Email: <%= @applicant.email %>
  </div>

  <div>
    <%= erb :"applicants/_delete", layout: false, locals: { applicant: @applicant } if @authorized_applicant %>
  </div>
</div>

<br>

<% if @authorized_applicant %>
  <div>
    <a href="/positions">View Positions for Hire</a>
  </div>

  <h2>Submitted <a href="/applications">Applications</a></h2>

  <% @applications.each do |application| %>
    <%= erb :"applications/_basic_info", layout: false, locals: { application: application } %>
    <br>
  <% end %>

  <div>
    <%= "You haven't applied to any positions" if @applications.empty? %>
  </div>

  <h2>My <a href="/resumes">Resumes</a></h2>

  <div class="links">
    <a href="/resumes/new">Upload a Resume</a>
  </div>
  <br>

  <% @resumes.each do |resume| %>
    <%= erb :"resumes/_basic_info", layout: false, locals: { resume: resume } %>
    <br>
  <% end %>

  <%= "You don't have any resumes on file" if @resumes.empty? %>
<% end %>
