<h1><%= @recruiter.full_name %></h1>

<div class="profile">

  <div>
    Recruiter ID: <%= @recruiter.id %>
  </div>

  <div>
    Name: <%= "#{@recruiter.first_name} #{@recruiter.last_name}" %>
  </div>

  <div>
    Email: <%= @recruiter.email %>
  </div>

  <div>
    <%= erb :"recruiters/_delete", layout: false, locals: { recruiter: @recruiter } if @authorized_recruiter %>
  </div>

</div>

<% if @authorized_recruiter %>

  <br>

  <div>
    <a href="/positions/new">List a Position for Hire</a>
  </div>

  <h2>My Listed Positions</h2>

  <% if @positions.empty? %>

    <div>You don't have any listed positions.</div>

  <% else %>

    <% @positions.each do |position| %>
      <a href="/positions/<%= position.id %>">
        <%= erb :"positions/_position_info", layout: false, locals: { position: position } %>
      </a>
    <% end %>

  <% end %>

<% end %>
