<h1><%= "#{@recruiter.first_name} #{@recruiter.last_name}" %></h1>

<div class="profile">
  <ul>
    <li>Name: <%= "#{@recruiter.first_name} #{@recruiter.last_name}" %></li>
    <li>Email: <%= @recruiter.email %></li>
    <li><%= erb :"recruiters/_delete", layout: false, locals: { recruiter: @recruiter } %></li>
  </ul>
</div>

<h2>My Listed Positions</h2>

<p><a href="/positions/new">List a new position</a></p>

<% unless @positions.nil? %>

  <% @positions.each do |position| %>
    <%= erb :"positions/_position_info", layout: false, locals: { position: position } %>
  <% end %>

<% else %>

  <p>You don't have any listed positions.</p>

<% end %>
